@{
    ViewData["Title"] = "Home Page";
}
@*
    Esub Beig
*@
<h1>Welcome</h1>
<p>This is a full-fledged ASP.NET MVC web application with all ingredients as precursor to the 
    Entity Framework. You can turn around and later create this as a database application which is the objective.
    Therfore understanding the objects and classes and how they interact with other classes and objects
    in the framework is important.
</p>
<p>
    This application has Three (3) controllers, Six (6) views with a shared
    layout, and Five (5) models. In addition, there are models that have constructors, which
    require attention and understanding.
</p>