@*
Created by Dr. Paravastu
FileName: Index.cshtml
*@
<h1>Temperature converter and Planetary Weights</h1>
<h4>Created by Dr. Paravastu</h4>
<p>
    <ul>This lab gives you practice about:
        <li>Chapter 7 Views</li>
        <li>ViewModel and BindingModel</li>
        <li>Submitting results to a different view (Weights and WeightsResultsViews) </li>
        <li>Submitting results to the same View/page:Temperature View</li>
        <li> ViewStart,Layout, Shared Folder, &commat; RenderBody () method </li>
        <li>Controls: Radio, Textboxes, and Select DropDown in Views and their implementation in Models</li>
        <li>Validation with Span and Validation-for Tag Helpers </li>
    </ul>
    <h5>Should practice for the midterm!!!!</h5>
</p>