@model WeightsModel
@*
Created by Gopi
FileName: Weights.cshtml
*@
<h1>Paravastu Weights</h1>
<h4>What is my weight on another planet?</h4>
<form asp-action="WeightsResult" asp-controller ="Home" method = "post">;
    <p>
        <label asp-for="Weight"></label>
        <input asp-for="Weight"/>
        <span asp-validation-for=Weight></span>
    </p>
    <p>
        <label asp-for="Planet"></label>
        <select asp-for="Planet" asp-items = "@Model.Planetlist"></select>
        <span asp-validation-for = "Planet"></span>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>