@*
    Esub Beig
    700727173
*@
@{
}
@model BeigModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Beig Version G</title>
    </head>
    <body>
        <h1>Beig Distance Conversion</h1>
        <form asp-action="Index" asp-controller="Home" method="post">
            <p>
                <label asp-for="Distance"></label>
                <input asp-for="Distance"/>
                <span asp-validation-for="Distance"></span>
            </p>
            <p>
                <label asp-for="ConversionType">Miles to Kilometers</label>
                <input asp-for="ConversionType" type="radio" value="Km" id="radioMiletoKm"/>
                <label asp-for="ConversionType">Kilometers to Miles</label>
                <input asp-for="ConversionType" type="radio" value="Mile" id="radioKmtoMile" />
                <span asp-validation-for="ConversionType"></span>
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    @{
        if(ViewBag.called == true)
        {
            <p>@Model.Conversion()</p>
        }
        }
        
    </body>
</html>
